<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lan.src.dao.FileInfoMapper">
  <resultMap id="BaseResultMap" type="com.lan.src.pojo.FileInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="attribute" jdbcType="VARCHAR" property="attribute" />
    <result column="start_id" jdbcType="INTEGER" property="startId" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="op_type" jdbcType="INTEGER" property="opType" />
    <result column="read_dnum" jdbcType="INTEGER" property="readDnum" />
    <result column="read_bnum" jdbcType="INTEGER" property="readBnum" />
    <result column="write_dnum" jdbcType="INTEGER" property="writeDnum" />
    <result column="write_bnum" jdbcType="INTEGER" property="writeBnum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_path, attribute, start_id, size, op_type, read_dnum, read_bnum, write_dnum, 
    write_bnum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from file_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from file_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lan.src.pojo.FileInfo">
    insert into file_info (id, file_path, attribute, 
      start_id, size, op_type, 
      read_dnum, read_bnum, write_dnum, 
      write_bnum)
    values (#{id,jdbcType=INTEGER}, #{filePath,jdbcType=VARCHAR}, #{attribute,jdbcType=VARCHAR}, 
      #{startId,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}, #{opType,jdbcType=INTEGER}, 
      #{readDnum,jdbcType=INTEGER}, #{readBnum,jdbcType=INTEGER}, #{writeDnum,jdbcType=INTEGER}, 
      #{writeBnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lan.src.pojo.FileInfo">
    insert into file_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="attribute != null">
        attribute,
      </if>
      <if test="startId != null">
        start_id,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="opType != null">
        op_type,
      </if>
      <if test="readDnum != null">
        read_dnum,
      </if>
      <if test="readBnum != null">
        read_bnum,
      </if>
      <if test="writeDnum != null">
        write_dnum,
      </if>
      <if test="writeBnum != null">
        write_bnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="startId != null">
        #{startId,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="opType != null">
        #{opType,jdbcType=INTEGER},
      </if>
      <if test="readDnum != null">
        #{readDnum,jdbcType=INTEGER},
      </if>
      <if test="readBnum != null">
        #{readBnum,jdbcType=INTEGER},
      </if>
      <if test="writeDnum != null">
        #{writeDnum,jdbcType=INTEGER},
      </if>
      <if test="writeBnum != null">
        #{writeBnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lan.src.pojo.FileInfo">
    update file_info
    <set>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        attribute = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="startId != null">
        start_id = #{startId,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="opType != null">
        op_type = #{opType,jdbcType=INTEGER},
      </if>
      <if test="readDnum != null">
        read_dnum = #{readDnum,jdbcType=INTEGER},
      </if>
      <if test="readBnum != null">
        read_bnum = #{readBnum,jdbcType=INTEGER},
      </if>
      <if test="writeDnum != null">
        write_dnum = #{writeDnum,jdbcType=INTEGER},
      </if>
      <if test="writeBnum != null">
        write_bnum = #{writeBnum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lan.src.pojo.FileInfo">
    update file_info
    set file_path = #{filePath,jdbcType=VARCHAR},
      attribute = #{attribute,jdbcType=VARCHAR},
      start_id = #{startId,jdbcType=INTEGER},
      size = #{size,jdbcType=INTEGER},
      op_type = #{opType,jdbcType=INTEGER},
      read_dnum = #{readDnum,jdbcType=INTEGER},
      read_bnum = #{readBnum,jdbcType=INTEGER},
      write_dnum = #{writeDnum,jdbcType=INTEGER},
      write_bnum = #{writeBnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>